{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% autoescape false %}
    
<div class="box">
    <ul class="list-group list-group-flush" id="subdomains">
    
    <div class="embed">
        <!-- Nothing here :D -->
    </div class="embed">

    <style>
        a:link { color: gray;}
        a:visited {color: black;}
        a:active {color: black;}
        a:hover { color: red;}
    </style>

    {% if file %}
        <div class="results" style="border:solid 1px black; padding: 5px; margin-bottom: 10px;">
            <h5><b>{{ file }}</b></h5>
            {{ contents }}
        </div>
    {% endif %}
</div>

{% endautoescape %}
{% endblock %}