{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% autoescape false %}
    
<div class="container">
    <h1/align="center">Plant Library</h1>
    <p/align="center">
    Browse through information on collected plants.
    </p>
    <div class="box">
        <ul class="list-group list-group-flush" id="plants">
        
        {% if user.email == ADMIN %}
            <div/align="center" class="embed">
                <h4>Create a new plant (admin only)!</h3>
                <iframe frameBorder="0" width="1080" height="120" scrolling="no" src="http://127.0.0.1:5000/upload"></iframe>
                <upload-note>
                <form method="POST">
                    <textarea name="plant" id="plant" class="form-control"></textarea>
                    <div/align="center">
                    <button type="submit" class="separate-button btn btn-primary">Add plant</button>
                    <br>
                    </div>
                </form>
                </upload-note>
            </div class="embed">
        {% elif user.email != ADMIN and user.email|length >= 1 %}
            <div/align="center" class="embed">
                <h4>Suggest a new plant</h3>
                <p>Your suggestion about a new plant should contain at least these things: <b>image of it</b>, <b>small description</b>, and <b>how to care</b> for it indoors.</p>
                <iframe frameBorder="0" width="1080" height="120" scrolling="no" src="http://127.0.0.1:5000/upload"></iframe>
                <upload-note>
                <form method="POST">
                    <textarea name="plant" id="plant" class="form-control"></textarea>
                    <div/align="center">
                    <button type="submit" class="separate-button btn btn-primary">Send suggestion</button>
                    <br>
                    </div>
                </form>
            </upload-note>
        {% endif %}

    </div>
        
        {% for plant in plants %}
        <li class="list-group-item">
          {{ plant.data }}
            {% if user.email == ADMIN %}
                <button type="button" class="close" onClick="deletePlant({{ plant.id }})">
                <span aria-hidden="true">&times;</span>
            {% endif %}
          </button>
        </li>
        {% endfor %}
            
        </ul>
    </div>
</div>

{% endautoescape %}
{% endblock %}