{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% autoescape false %}

<div class="container">
    <!--<h1/align="center">Profile page</h1>-->
    
    <!--<div class="box">
        <br>
    </div>-->

    <div class="profile-container">
        <section class="vh-100" style="background-color: #ffffff;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col col-lg-10 mb-100 ">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                      <div class="col-md-4 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        {% if user.profile_picture %}
                          <img src="{{ user.profile_picture }}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        {% else %}
                        <div class="profile-pic">
                          <label class="-label" for="file">
                            <span class="glyphicon glyphicon-camera"></span>
                            <span>Change Image</span>
                          </label>
                          <input id="file" type="file" onchange="loadFile(event)"/>
                          <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg" id="output" width="200" />
                        </div>
                        {% endif %}
                        <h5 style="color:black">
                            {{ user.first_name }}
                        </h5>
                        {% if user.description and state != "Profile edit" %}
                            <p style="color:black">{{ user.description }}</p>
                        {% else %}
                            <form method="POST" action="/profile">
                                <input style="width: 80%; margin-left: auto; margin-right: auto;" 
                                    class="form-control" type="text" placeholder="Small description of your profile"
                                    name="description" id="description" value="{% if user.description %}{{ user.description }}{% endif %}">
                            </form>
                        {% endif %}
                        <i class="far fa-edit mb-5"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body p-4">
                          <h6>Information</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Email</h6>
                              <p class="text-muted">{{ user.email }}</p>
                            </div>
                            <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            {% if user.phone and state != "Profile edit" %}
                                <p class="text-muted">{{ user.phone }}</p>
                            {% else %}
                                <form method="POST" action="/profile">
                                    <input styles="width: 80%; margin-left: auto; margin-right: auto;" 
                                        class="form-control" type="text" placeholder="Your phone number"
                                        name="phone" id="phone" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                </form>
                            {% endif %}
                            </div>
                          </div>
                          <!--<h6>Plants</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Recent</h6>
                              <p class="text-muted">Lorem ipsum</p>
                            </div>
                            <div class="col-6 mb-3">
                              <h6>Most Viewed</h6>
                              <p class="text-muted">Dolor sit amet</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start">
                            <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                            <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                            <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                          </div>-->
                        </div>
                        {% if state == "Profile edit" %}
                          <div/align="right" class="profile-edit-button">
                            <!--<form method="GET">
                              <input type="hidden" id="edit-profile">
                              <input type="submit" value="Back" class="btn btn-primary"></input>
                            </form>-->
                            <a href="http://127.0.0.1:5000/profile" class="btn btn-info">Back</a>
                          </div>
                        {% else %}
                          <div/align="right" class="profile-edit-button">
                            <form method="GET">
                              <input type="hidden" name="edit" value="true" id="edit-profile">
                              <input type="submit" value="Edit " class="btn btn-primary"></input>
                            </form>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>

{% endautoescape %}
{% endblock %}