{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% autoescape false %}
    
{% if state == "No subdomain" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 2%;">
    <strong>No Subdomain!</strong> You should write down the subdomain you want me to scan.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h1/align="center" style="margin-top: 2%;">Subdomain emumeration</h1>
<p/align="center">
    Supply your target <b>HOST</b> and enumerate all possible subdomains.
</p>
<div class="box">
    <ul class="list-group list-group-flush" id="subdomains">
    
    <div class="embed">
        <form method="POST">
            <div>
                <input/align="center" class="form-control" type="text" placeholder="Subdomain" name="subdomain">

                <div/align="left" class="tools-used-box" style="margin-top: 10px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="useAMASS" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Use <b>AMASS</b>
                        </label><br>

                        <input class="form-check-input" type="checkbox" value="true" name="useSubfinder" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Use <b>Subfinder</b>
                        </label><br>

                        <input class="form-check-input" type="checkbox" value="true" name="useGau" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Use <b>GAU</b>
                        </label><br>
                        <!-- Also, implement this: https://m7arm4n.medium.com/default-credentials-on-sony-swag-time-8e35681ad39e-->
                    </div>
                </div>

                <div/align="left" class="wordlist-box" style="margin-top: 10px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="useWaybackurls" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Use <b>Waybackurls</b>
                        </label><br>

                        <input id="reactiveTickbox" class="form-check-input" type="checkbox" value="true" name="useCustomWordlist" id="flexCheckDefault"
                            onclick="document.getElementById('wordlist').disabled = false;">
                        <label class="form-check-label" for="flexCheckDefault">
                            Use custom <b>WORDLIST</b>
                        </label><br>
                        <input type="text" placeholder="/usr/share/dirbuster/wordlists/directory-list-lowercase-2.3-medium.txt" id="wordlist" 
                            value="/usr/share/dirbuster/wordlists/directory-list-lowercase-2.3-medium.txt" name="customWordlist" disabled="True">
                    </div>
                </div>


                <div/align="left" class="tools-used-box" style="margin-top: 10px;">
                    <div class="form-check">
                        <!--<input class="form-check-input" type="checkbox" value="true" name="useCrt.sh" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Use <b>crt.sh</b>
                        </label><br>-->

                        <input class="form-check-input" type="checkbox" value="true" name="useAliveCheck" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Scan for <b>alive</b> domains
                        </label><br>

                        <input class="form-check-input" type="checkbox" value="true" name="useScreenshotting" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Screenshot <b>alive</b> domains
                        </label><br>
                    </div>
                </div>


            </div>

            <div/align="center" class="submit-button" style="margin-top: 10px;">
                <button type="submit" class="separate-button btn btn-primary">Start Subdomain Discovery</button>
                <br>
            </div>

        </form>
    </div class="embed">
    <div class="results">
        <li class="list-group-item"></li>
        {% for subdomain in subdomains %}
            <li class="list-group-item">
                <strong>{{ subdomain.url.upper() }}</strong><br>
                Flags used: {{ subdomain.methods.replace(' ', ', ') }}<br>
                Tools used: {{ subdomain.tools.replace(' ', ', ') }}<br>
                {% if subdomain.files %}
                    Custom wordlists used: {{ subdomain.files.replace(' ', ', ') }}
                {% else %}
                    No Custom wordlists used
                {% endif %}
                <button type="button" class="close" onClick="deleteSubdomain({{ subdomain.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </div>
</div>

{% endautoescape %}
{% endblock %}