{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% autoescape false %}
    
{% if state == "No subdomain" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 2%;">
    <strong>No Subdomain!</strong> You should write down the subdomain you want me to scan.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h1/align="center" style="margin-top: 2%;">Subdomain emumeration</h1>
<!-- This should just show us the scans we executed -->
<!--<p/align="center"> 
    Supply your target <b>HOST</b> and enumerate all possible subdomains.
</p>-->
<div class="box">
    <ul class="list-group list-group-flush" id="subdomains">
    
    <div class="embed">
        <!-- Nothing here :D -->
    </div class="embed">

    <div class="results"> <!--style="border:solid 1px black; padding: 5px;">-->
        <li class="list-group-item"></li>
        {% for scan in scans %}
            <li class="list-group-item">
                <strong><a href="//127.0.0.1:5000/subdomains/{{ scan.entryID }}/" target="_blank">{{ scan.url.upper() }}</a></strong>
                Methods used&nbsp;&nbsp;: {{ scan.methods }}<br>
                Tools used&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ scan.tools }}<br>
                Resulted files&nbsp;&nbsp;&nbsp;: {{ scan.resultFiles }}<br>
                {% if scan.files %} Wordlists used : {{ scan.files }}<br> {% endif %}
                EntryID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ scan.entryID }}<br>
                Date of scan&nbsp;&nbsp;&nbsp;&nbsp;: {{ scan.date }}<br>
                <button type="button" class="close" onClick="deleteScan({{ scan.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </li>
        {% endfor %}
    </div>
</div>

{% endautoescape %}
{% endblock %}